@page "/"
@using System.Diagnostics;
@using Chat.Data;
@inject Chat.Data.ChatService chatService

<PageTitle>Index</PageTitle>

<div id="wrapper">
    <div id="messages">
    @foreach (var message in messages)
    {
        <b>@message.Role</b>
        <p>@message.Content</p>
    }
    </div>
    <div id="inputWrapper">
        <div id="inputTextWrapper">
            <input type="text" id="inputText" @bind="inputString" @bind:event="oninput" @onkeydown="KeyHandler"/>
        </div>
        <div id="buttonWrapper">
            <button @onclick=OnClickAsync disabled="@(isDisabled || inputString == "")">送信</button>
        </div>
        
    </div>
</div>



@code{
    private List<Message> messages = new();
    private string inputString = "";
    private bool isDisabled = false;

    private async Task OnClickAsync()
    {
        if(inputString == "") return;
        string question = inputString;
        inputString = "";
        isDisabled = true;
        chatService.Messages.Add(new Data.Message("user",question));
        messages = chatService.Messages;

        string result = await chatService.GetChatResponseAsync();
        chatService.Messages.Add(new Data.Message("assistant", result));
        messages = chatService.Messages;
        
        isDisabled = false;
    }

    private async Task KeyHandler(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await OnClickAsync();
        }
    }
}